<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TP</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <button type="button" (click)="addModal(addPlace)" class="btn bg-success">Add</button>
    </li>
  </ul>
</nav>

<ng-template #addPlace>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-place></app-add-place>
  </div>
</ng-template>