<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TP</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/add">Add Place</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Header just some random content</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sit molestias possimus dolore accusantium ipsa nam, at hic nesciunt, repellendus soluta, omnis inventore dolorem molestiae. Quos excepturi totam sint porro?</p>
</div>
