<div class="container">
  <form (ngSubmit)="onSubmit()" #addPlaceForm = "ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="enter name" required [(ngModel)] = "model.name" name="name">
    </div>
    <div class="form-group">
      <label for="image">Image Url</label>
      <input type="text" class="form-control" id="imgUrl" placeholder="enter image path" required [(ngModel)] = "model.imageUrl" name="imageUrl">
    </div>
    <div class="form-group">
      <label for="description">Desc: </label>
      <textarea class="form-control" id="description" rows="3" [(ngModel)] = "model.description" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>



