.card
    margin: 1rem
    position: relative
    background-color: #C0D6E4
    border: none

.card-title
    padding-left: 20px

.btn-close
    position: absolute
    right: 0px
    height: 2rem
    opacity: .5
    &:hover
        opacity: 1.0

.btn-edit
    position: absolute
    left: 0px
    width: 20%
    height: 2rem
    float: left

