.card
    margin: 1rem
    position: relative
    background-image: url("../../../assets/images/card-background.jpg")
    background-size: 100%

.card-title
    padding-left: 20px

.btn-close
    position: absolute
    right: 8px
    height: 2rem
    opacity: .5
    &:hover
        opacity: 1.0

.btn-edit
    position: absolute
    left: 0px
    width: 20%
    height: 2rem
    float: left

